[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-modules-hashivault = "*"
boto = "*"
boto3 = "*"
botocore = "*"

[dev-packages]

[requires]
python_version = "2.7"
